.imagem {
    text-align: center;
}

body {
    background-color: rgba(240, 240, 240, 0.219);
    color: rgba(48, 67, 241, 0.603);
}
.texto1{
    font-size: 20px;
}
.tipos{
    font-size: 30px;
    color: rgb(52, 52, 250);
}
.tipos2{
    font-size: 30px;
    color:rgb(52, 52, 250)
}
.tipos3{
    font-size: 30px;    
    color: rgb(52, 52, 250);
}
.titulo{
    font-size: 35px;
    color: rgb(52, 52, 250)
}
